{% extends 'blog/base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content%}


<div id="content" class="left">
    <div class="projects">
        <h3>Записи</h3>
        {% for post in post_list %}
        <div class="item">
            <div class="image left">
                {% if post.img %}
                <a href="{% url 'post_detail' post.pk %}"><img src="{{ post.img.url }}" width="200px"/></a>
                {% else %}
                <p>Изображение отсутствует</p>
                {% endif %}
            </div>
            <div class="text left">
                <h4><a href="{% url 'post_detail' post.pk %}">{{ post.title }} </a></h4>
                <p>{{ post.description }}</p>
                <p>Автор: {{ post.author }}</p>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}