{% extends 'blog/base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<div id="content" class="left">
    <div class="projects">
        <h3>{{ post.title }}</h3>
        {% if post.img %}
        <p align="center">
            <img src="{{ post.img.url }}" width="50%"/>
        </p>
        {% endif %}
        <div class="item">
            <div class="text left">
                <p>{{ post.description }}</p>
                <p>Автор: {{ post.author.username }}</p>
            </div>
            <div class="cl">&nbsp;</div>
        </div>


        {% if user.is_authenticated and user == post.author %}
        <div class="post-actions">
            <a href="{% url 'post_edit' post_id=post.id %}">Редактировать</a>
            <a href="{% url 'post_delete' post_id=post.id %}">Удалить</a>
        </div>
        {% endif %}
    </div>
</div>
<div class="cl">&nbsp;</div>

<div class="form-comment">
    <h3>Оставить комментарий</h3>
    <div>
        <form action="{% url 'add_comments' post.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <input type="submit" value="Отправить">
            </div>
        </form>
    </div>
</div>

<div>
    <h3>Комментарии</h3>
    {% for comment in post.comments_set.all %}
    <div class="view-comment">
        <h4>{{ comment.name }}</h4>
        <p>{{ comment.text_comments }}</p>
    </div>
    <hr>
    {% empty %}
    <p>Нет комментариев.</p>
    {% endfor %}
</div>
{% endblock %}